.container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.svg-container {
    margin-top: 12rem;
    margin-bottom: 12rem;
    float: left;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
